* {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
body {
  min-width: 350px;
  border: 5px solid black;
  font-family: 'Poppins', sans-serif;
}

/* navbar */
nav {
  display: flex;
  margin: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  margin-right: 12px;
}

.main-name {
  letter-spacing: 1px;
}
